.FindCocktail {
    display: block;
    margin:  10px auto;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 3px #ccc;
    width: 60%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.List {
    display: inline-block;
    margin:  20px auto;
    width: 40%;
    padding: 0px;
    text-align: left;
}

.Shopping {
    top: 0px;
    display: inline-block;
    margin:  20px auto;
    width: 40%;
    padding: 0px;
    text-align: left;
    vertical-align: top;
}

.ButtonContainer {
    display: inline-block;
    margin:  20px auto;
    width: 80%;
    padding: 0px;
    text-align: left;
    vertical-align: top;
}

.Button{
    color:white;
}